{{>include/header}}
<div id="container my-5">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">제목</th>
            <th scope="col">내용</th>
        </tr>
        </thead>
        <tbody>
        {{#articleList}}
        <tr>
            <th scope="row">{{id}}</th>
            <td><a href="/board/{{id}}">{{title}}</a></td>
            <td>{{content}}</td>
        </tr>
        {{/articleList}}
        </tbody>
    </table>
    <a href="/board/write">글등록</a>
</div>
{{>include/footer}}
