{{>include/header}}
<div id="container">
    {{#article}}
    <form method="post" action="/board/edit">
        <input type="hidden" name="id" value="{{id}}">
        <div class="form-group">
            <label for="exampleFormControlInput1">제목</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="제목을 입력하세요"
                   name="title" required value="{{title}}">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">내용</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                      name="content">{{content}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">수정</button>
    </form>
    {{/article}}

    <a href="/board/">글목록</a>
    <a href="/board/{{article.id}}">이전</a>
</div>
{{>include/footer}}
