{{>include/header}}
<form action="/login/ok" method="post">
    <input type="text" name="id" placeholder="아이디" minlength="3"/>
    <input type="password" name="password"/>
    <input type="submit"  value="로그인"/>
</form>
{{>include/footer}}