<div id="comments-list">
    <div class="card" id="comments">
        <div class="card-header">
            댓글의 작성자
        </div>
        <div class="card-body">
            댓글내용
        </div>
    </div>
</div>